<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>turtleturtle</title>
    <link rel="icon" href="trtl-icon.png" type="image/x-icon">
    <meta name="msapplication-TileImage" content="trtl-icon.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <br />
          <h1 class="">TURTLE TURTLE .ORG</h1>
          <h4 class="">→ a guide for the turtlecoin community</h4>
        </div>
      </div>
      <br />
      <section>
        {{ content }}
      </section>
      <br />
      <div class="row">
        <div class="col">
          <center>
            <br />
            <small>
              <a href="turtlecoin:TRTLuxEnfjdF46cBoHhyDtPN32weD9fvL43KX5cx2Ck9iSP4BLNPrJY3xtuFpXtLxiA6LDYojhF7n4SwPNyj9M64iTwJ738vnJk">
              TRTLuxEnfjdF46cBoHhyDtPN32weD9fvL43KX5cx2Ck9iSP4BLNPrJY3xtuFpXtLxiA6LDYojhF7n4SwPNyj9M64iTwJ738vnJk</a>
            </small>
            <br /> Please donate if you find this useful
          </center>
        </div>
      </div>
    </div>
  </body>
</html>
